<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
	<nav>
			<div class="nav-wrapper">
				<a href="/" class="brand-logo right">NYTimes</a>
				<ul id="nav-mobile" class="left">
					<li><a href="/">Home</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/blog/shrek">Shrek's Blog</a></li>
					<li><a href="blog/regestar">Register</a></li>
				</ul>
			</div>
	</nav>
	{% block content %}
	<h1>title</h1>
	{% endblock %}

</body>
</html>