{%extends 'navbar.html' %}

<!DOCTYPE html>
<html>
<head>
	<title>Шрек сьогодні</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
 {% block content%}
	<div class="container">
		<h1><em>Нормальний заголовок</em></h1>
		<h3>Hello dear {{name|safe}}!<h3>
		<div class="row">
			{% for post in posts %}
				<div class="col s12 m6 l3">
					<div class="card">
						<h2 class="card-title">{{post.title|title}}</h2>
						<p>{{ post.text|truncatewords:9 }}</p>
						<strong>{{post.create_date}}</strong>
						<br><br>
						<div class="card-action"> 
							<a href=" {%url 'one_post' post_id=post.id%}">читати далі</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		
	</div>
{% endblock %}
</body>
</html>